<p>Hi, your phone number is not registered with the system. Please go back to Customer Login and try again. If you do not have membership with us via your phone number, please ask the Manager to manually add you to our system, then try again.</p>

<p>CS340: Creating new membership not implemented yet. Please use Phone Number 1 to login at Login. Sorry!