<h1>Welcome to Fat Baguette Bakery!</h1>
<p>Please enter your phone number to login:</p>
<p>CS340: Please use "1" to login. New membershop not implemented at this time.</p>

<form id="customerlogin" action="/member_check" method="post">
    <fieldset>
        Phone Number: <input type="text" name="phone_number" required><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>