<h1>Welcome to Fat Baguette's Main Page</h1>
<p>Please select whether you are a manager or customer:</p>
<div>
    <form action="/customer_main">
        <input type="submit" value="Customer" />
    </form>
</div>
<div>
    <form action="/manager_main">
        <input type="submit" value="Manager" />
    </form>
</div>