<h1>Welcome to the manager dashboard</h1>
<p>Hello boss. This is where you can manage products and customers.
<h2>Manage Products</h2>
	<form action="/view_products">
        <input type="submit" value="View and Modify Products" />
    </form>

<h2>Manage Customers</h2>
	<form action="/view_customers">
        <input type="submit" value="View and Modify Registered Customers" />
    </form>