<h1>Welcome to the manager dashboard</h1>
<p>Hello boss. This is where you can manage products and customers. You can also check out some of your awesome stats for your business.</p>
<h2>Manage Products</h2>
	<form action="/view_products">
        <input type="submit" value="View and Modify Products" />
    </form>

<h2>Manage Customers</h2>
	<form action="/view_customers">
        <input type="submit" value="View and Modify Registered Customers" />
    </form>

<h2>Visitor Statistics</h2>
	<form action="/view_visit">
		<input type="submit" value="View Visitor Statistics" />
	</form>

<h2>Referral Statistics</h2>
	<form action="/view_referrals">
		<input type="submit" value="View Referral Statistics" />
	</form>

<h2>Sales Statistics</h2>
	<form action="/view_products_sold">
		<input type="submit" value="View Sales Statistics" />
	</form>