<p>Thanks for the referral. Please click below to go back.</p>

<form id="redirect_to_dashboard" action="/member" method="post">
	<input type="submit" value="Back to Your Dashboard" />
	<input type="hidden" name="id" value="{{member_id}}"><br>
</form>
