<h1>Visitor Statistics:</h1>
<p>You're killing it, boss!</p>

<table>
    <thead>
        <th>Date</th>
        <th>Visits</th>
    </thead>
    <tbody>
        {{#each results}}
        <tr>
            <td>{{visit_date}}</td>
            <td>{{visits}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>